---
import Speedo from "../../assets/logos/Speedo.astro";
import Bswim from "../../assets/logos/Bswim.astro";
import Teamgb from "../../assets/logos/Teamgb.astro";
import Waq from "../../assets/logos/Waq.astro";
---

<p class="text-center font-semibold">Coaches affiliated with</p>
<div class="flex flex-wrap px-8 space-x-2 sm:space-x-8 items-center">
  <Speedo width={140} />
  <Teamgb width={70} />
  <Bswim width={100} />
  <Waq width={160} />
</div>
