---
import Coach from "./Coach.astro";
import Freya from "../../assets/coaches/freya.jpeg";
import Holly from "../../assets/coaches/holly.jpeg";
import Jacob from "../../assets/coaches/jacob.jpeg";
---

<div class="bg-primary-800 py-4">
  <h2 class="text-yellow-50 text-center text-2xl small:text-4xl font-bold">
    Our team
  </h2>
  <div class="grid sm:grid-cols-3 p-4 max-w-4xl mx-auto">
    <Coach
      profilePic={Freya}
      name="Freya Anderson"
      summary="Olympic champion. Currently a GB athlete at the Bath Performance Center. Started swimming age 6 and competing from age 9. Passionate about developing the next generation of swimmers."
      accolades={["2x Olympic silver", "3x GB champion"]}
    />
    <Coach
      profilePic={Holly}
      name="Holly Hibbott"
      summary="Commonwealth medallist and world champs finalist. Specialist in middle distance freestyle and butterfly. Start swimming at 8 and competing by 11."
      accolades={["Commonwealth silver and bronze", "2x European champion"]}
    />
    <Coach
      profilePic={Jacob}
      name="Jacob Peters"
      summary="Olympian, currently training at the Bath Performance Center. Specialises in land training at our clinics."
      accolades={["Tokyo Olympian", "Worlds bronze medallist"]}
    />
  </div>
</div>
