---
import Coach from "./Coach.astro";
import Freya from "../../assets/coaches/freya.jpeg";
import Holly from "../../assets/coaches/holly.jpeg";
import Jacob from "../../assets/coaches/jacob.jpeg";
---

<div class="bg-primary-800 py-4">
  <h2
    class="text-yellow-50 text-center text-2xl sm:text-4xl font-bold"
    id="team"
  >
    Coaching team
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-3 p-4 max-w-6xl mx-auto">
    <Coach
      profilePic={Freya}
      name="Freya Anderson"
      summary="Olympic champion. 9x European champton. GB athlete at the Bath Performance Center."
      wikilink={"https://www.britishswimming.org/athlete-swimming-profiles/british-swimming-profiles/freya-anderson/"}
    />
    <Coach
      profilePic={Holly}
      name="Holly Hibbott"
      summary="Commonwealth medallist and world champs finalist. Middle distance & butterfly specialist."
      wikilink="https://teamengland.org/team-england-athletes/holly-hibbott"
    />
    <Coach
      profilePic={Jacob}
      name="Jacob Peters"
      summary="Olympian. Athlete at the Bath Performance Center. S&C specialist."
      wikilink={"https://www.britishswimming.org/athlete-swimming-profiles/british-swimming-profiles/freya-anderson/"}
    />
  </div>
</div>
