---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout pageTitle="About me">
  <h1 class="text-2xl font-bold text-cyan-500">{pageTitle}</h1>
  <h2>... and my new Astro site</h2>
  <p>I am working on this tutorial</p>
</BaseLayout>
