---
import Hero from "../components/hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Philo from "../components/philo/Philo.astro";
import Team from "../components/team/Team.astro";
import Clinic from "../components/clinicInfo/Clinic.astro";
import SofterWave from "../components/svgs/SofterWave.astro";
---

<BaseLayout pageTitle="Home">
  <div class="">
    <Hero />
    <SofterWave />
    <Philo />
    <Clinic />
    <Team />
  </div>
</BaseLayout>
