---
// Component Imports
import Hero from "../components/hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Philo from "../components/philo/Philo.astro";
import Team from "../components/team/Team.astro";
import Wave from "../components/svgs/Wave.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout pageTitle="Home">
  <div class="">
    <Hero />
    <Wave />
    <Philo />
    <Team />
  </div>
</BaseLayout>
