---
// Component Imports
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout pageTitle="Home">
  <div class="space-y-2 flex flex-col items-center">
    <h1 class="text-2xl font-bold">Welcome to FASwim Training</h1>
    <Button>Find out more</Button>
  </div>
</BaseLayout>
