---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
  class="py-2 px-4 bg-purple-500 text-white font-semibold rounded-lg hover:bg-purple-700 border-b-4 border-purple-600 border-l-2"
>
  <slot />
</button>

<script>
  import confetti from "canvas-confetti";
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => confetti());
  }
</script>
