---
const { width } = Astro.props;
---

<button
  class="py-3 px-6 bg-primary-400 text-white font-semibold rounded-lg hover:bg-primary-500"
  id="maino"
>
  <slot />
</button>

<script>
  function handleClick() {
    alert("Booked!");
  }
  document.getElementById("maino")!.addEventListener("click", handleClick);
</script>
