---
// const { "@click": click } = Astro.props;
---

<button
  @click="alert('Booked!')"
  class="py-3 px-6 bg-primary-400 text-white font-semibold rounded-lg hover:bg-primary-500"
  x-data
>
  <slot />
</button>
