---
import ImgGrid from "./ImgGrid.astro";
import ScheduleItem from "./ScheduleItem.astro";
---

<div class="bg-primary-800 px-4 py-16 space-y-4">
  <div class="max-w-3xl my-1 mx-auto">
    <h2
      class="text-accent-yellow-50 text-center text-2xl sm:text-4xl font-bold"
    >
      Clinics
    </h2>
    <p class="text-center text-lg font-medium text-yellow-50">
      Give your swimmers a day of world-class swimming technique, advice and
      training knowledge that'll boost their development. We adapt our schedule
      to suit your club's needs.
    </p>
  </div>
  <div
    class="max-w-6xl py-5 px-2 rounded-lg bg-accent-yellow-50 mx-auto shadow grid md:grid-cols-2 gap-2"
  >
    <div class="bg-accent-teal-50 p-4 rounded-lg">
      <h4 class="pl-1 text-teal-900 font-bold text-xl sm:text-2xl">
        Example schedule
      </h4>
      <div class="h-[2px] rounded-full bg-teal-700"></div>
      <p class="px-2 py-3 text-neutral-800 text-lg font-medium">
        Our clinics are 4-6 hours long and include a mix of pool work,
        dicussions, and land training work
      </p>
      <div>
        <ScheduleItem
          title="90 mins"
          items={["Group 1: Swim", "Group 2: Land"]}
        />
        <ScheduleItem title="15 mins" items={["Change over"]} />
        <ScheduleItem
          title="45 mins"
          items={["Talk (swimming journey) and snacks"]}
        />
        <ScheduleItem title="15 mins" items={["Change over"]} />
        <ScheduleItem
          title="90 mins"
          items={["Group 1: Land", "Group 2: Swim"]}
        />
        <ScheduleItem title="30 mins" items={["Q&A and photos"]} />
      </div>
    </div>
    <ImgGrid />
  </div>
</div>
