---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="font-bold text-xl text-cyan-700">{frontmatter.title}</h1>
  <p class="text-sm text-stone-500">Published on {frontmatter.pubDate}</p>
  <article class="prose my-4">
    <slot />
  </article>
  <p class="text-stone-700 text-right font-medium">{frontmatter.author}</p>
</BaseLayout>
